.jfx-button {
  -fx-cursor: hand;
  -fx-border-radius: null;
  -fx-background-color: #033d6d4f;
}

.btn-menu:focused {
  -fx-border-color: #e71d36;
  -fx-border-width: 0px 0px 0px 5px;
  -fx-border-style: hidden hidden hidden solid;
  -fx-background-color: #033d6d4f;
}